<!-- form.html -->
<!DOCTYPE html>
<html>
<body>
    <form action="/heatmap_results" method="post">
        Enter the query:<br>
        <input type="text" name="input_string1"><br>
        <input type="submit" value="Heatmap">
    </form>
    <form action="/regression_results" method="post">
        Enter the query:<br>
        <input type="text" name="input_string1"><br>
        Enter the features:<br>
        <input type="text" name="input_string2"><br>
        Enter the label:<br>
        <input type="text" name="input_string3"><br>
        <input type="submit" value="Regression">
    </form>
</body>
</html>
